<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.110541534901-qt34a0dlat4e7lu8gtdbdnbgeekcdlrn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.433294907451-pqkuuqqqer1598v1n4reh13ukupldqa7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>DartEnvironmentVariables</key>
	<string>$(DART_DEFINES)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>iosamap</string>
		<string>waze</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>O aplicativo precisa de acesso à camera para tirar fotos de documentos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>A Venni usa a sua localização para encontrar pedidos de corridas próximos a você, te permitir navegar até os pontos de partida e chegada, compartilhar sua localização com o cliente, e melhorar a sua experiência.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>A Venni usa a sua localização para encontrar pedidos de corridas próximos a você, te permitir navegar até os pontos de partida e chegada, compartilhar sua localização com o cliente, e melhorar a sua experiência.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A Venni usa a sua localização para encontrar pedidos de corridas próximos a você, te permitir navegar até os pontos de partida e chegada, compartilhar sua localização com o cliente, e melhorar a sua experiência.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O aplicativo precisa de acesso à biblioteca de fotos para adicionar foto de perfil.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
