<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393677487406-h4869cavjh743qvpieeei4l2i2cj939c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393677487406-h4869cavjh743qvpieeei4l2i2cj939c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393677487406-o66kdl19ba0gqjntkk3voon3o45t0k23.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZxEZCAdTwanPW3k32BqireLw07wpqu1I</string>
	<key>GCM_SENDER_ID</key>
	<string>393677487406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venni.partner.stag</string>
	<key>PROJECT_ID</key>
	<string>venni-rider-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>venni-rider-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393677487406:ios:4451f7ed34598d93c34ebf</string>
	<key>DATABASE_URL</key>
	<string>https://venni-rider-staging-default-rtdb.firebaseio.com</string>
</dict>
</plist>